apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: cilium
    repoURL: https://helm.cilium.io/
    targetRevision: 1.18.4
    helm:
      releaseName: cilium
      values: |
        kubeProxyReplacement: false
        k8sServiceHost: localhost
        k8sServicePort: 6443
        operator:
          replicas: 1
        hubble:
          enabled: true
          relay:
            enabled: true
        gatewayAPI:
          enabled: true
          controller:
            enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false  # kube-system already exists
  ignoreDifferences:
    - group: ""
      kind: ConfigMap
      name: hubble-ca-cert
      jsonPointers:
        - /data/ca.crt
