applications:
  - name: cluster-serverless
    namespace: argocd
    repoURL: https://github.com/BenedictusAryo/cluster-serverless.git
    targetRevision: main
    path: infra
    chart: cluster-serverless-infra
    version: 1.0.0
    valueFiles:
      - values.yaml
    destinationNamespace: argocd
# Default values for cluster-init Helm chart
cilium:
  enabled: true
sealedSecrets:
  enabled: true
  image:
    repository: ghcr.io/bitnami-labs/sealed-secrets-controller
    tag: "0.33.1"
argocd:
  enabled: true
  helm:
    version: "9.1.3"
cloudflareGateway:
  enabled: true
