apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-serverless
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/BenedictusAryo/cluster-serverless.git
    targetRevision: main
    path: cluster-serverless
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
